$body-padding: 50px 100px
$country_fz: 72px
$country_height: $country_fz+10px


@mixin mediaquery-mobile
    @media (max-width: 1024px)
        @content

*
    // outline: solid 1px white

body
    box-sizing: border-box
    padding: $body-padding
    text-align: right
    font-family: 'Nunito'
    color: #ffc249
    background-image: url(../pic/floorwall.jpg)
    background-size: cover
    background-position: center center
    @include mediaquery-mobile
        padding: 20px
.btn-danger
    display: inline-block

#flag
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100%
    margin: 0 10px 0 0
    vertical-align: top
    // background-image: url(../flag-phokis.png)
    background-repeat: no-repeat
    background-size: 200%
    background-position: center 80%

h2
    text-align: center
    font-size: $country_fz
    height: $country_height
    @include mediaquery-mobile
        font-size: 40px

h4
    font-size: 18px

figure
    display: inline-block
    height: 70px
    width: 70px
    margin: 0 20px 0 0
    background-size: cover
    background-position: center center

.btn-group
    margin-bottom: 10px
    z-index: -1

main
    width: 100%
    height: calc( 100vh - 200px - 60px  - 8px - 48px)
    background-color: rgba(157, 156, 157, 0.4)
    @include mediaquery-mobile
        height: 500px

section
    width: 100%
    height: 100%
    text-align: left

section#assets
    display: block
    padding: 100px
    @include mediaquery-mobile
        padding: 30px
    h3
        font-size: 30px
        @include mediaquery-mobile
            font-size: 22px
    p
        font-size: 60px
        text-align: right
        border-bottom: solid 1px black
        @include mediaquery-mobile
            font-size: 30px

section#transfer
    display: none
    padding: 100px 300px
    @include mediaquery-mobile
        padding: 50px 50px
    .custom-select
        margin-bottom: 30px
    .input-group
        margin-bottom: 40px


section#record
    display: none
    overflow: scroll
    padding: 0 50px
    @include mediaquery-mobile
        padding: 0 5px
    .table
        margin-top: 30px
    thead
        display: block
        position: sticky
        top: 0
        background-color: #3e3e3f
        z-index: 1
    tr
        margin: 0
    .more_records
        color: white

#level_house:hover
    transform: rotate(15deg)
    animation: house_shake .5s infinite linear

@keyframes flag_fadein
    0%
        top: 0
        left: 0
        height: 100vh
        width: 100%
        background-size: 200%
        background-position: center 80%
    99.99%
        top: 155px
        left: 100px
        height: 100vh
        width: 100%
        background-size: 10%
        background-position: top left
    100%
        // position: relative
        top: 155px
        left: 100px
        height: 170px
        width: 90px
        margin: 0 10px 0 0
        background-size: cover
        background-position: top center

@keyframes house_shake
    0%
        transform: rotate(0deg)
    25%
        transform: rotate(5deg)
    50%
        transform: rotate(0deg)
    75%
        transform: rotate(-5deg)
    100%
        transform: rotate(0deg)

@keyframes flag_fadein_mb
    0%
        top: 0
        left: 0
        height: 100vh
        width: 100%
        background-size: 200%
        background-position: center 80%
    99.99%
        top: 115px
        left: 20px
        height: 100vh
        width: 100%
        background-size: 10%
        background-position: top left
    100%
        top: 115px
        left: 20px
        height: 150px
        width: 80px
        margin: 0 10px 0 0
        background-size: cover
        background-position: top center