*
    // outline: solid 1px black

body,:before,:after,
    box-sizing: border-box
    font-family: 'Nunito'

@mixin mediaquery-mobile
    @media (max-width: 990px)
        @content

section
    height: 100vh
    padding: 100px
    font-size: 0
    transition-duration: .5s
    background-image: url(../pic/login_wp3.jpg)
    background-size: cover
    background-position: 60% center
    @include mediaquery-mobile
        padding: 30px 20px
    article
        display: inline-block
        width: 50%
        padding: 100px 30px
        font-weight: 600
        @include mediaquery-mobile
            display: block
            padding: 50px 10px 10px
            width: 100%

    .button-group
        display: inline-block
        width: 50%
        height: 90%
        vertical-align: top
        padding: 200px 100px 100px
        @include mediaquery-mobile
            display: block
            width: calc( 100% - 40px )
            height: auto
            padding: 10px 10px
            position: absolute
            bottom: 0

article
    border-radius: 30px
    background-color: rgba(157, 156, 157, 0.9)
    h2
        font-size: 50px
        @include mediaquery-mobile
            font-size: 30px
    p
        font-size: 22px
        @include mediaquery-mobile
            font-size: 18px

// a:nth-child(1)
//     margin-bottom: 20px
#country
    margin-bottom: 20px

button
    width: 100%
    position: relative
    height: calc( (100% - 20px)/2 )
    font-size: 30px
    font-weight: bold
    border-radius: 30px
    background-color: rgba(157, 156, 157, 0.9)
    animation-name: article_bg
    animation-duration: 2s
    animation-iteration-count: infinite

button:hover
    cursor: pointer
    color: white
    background-color: black
    animation-name: btn_fz
    animation-duration: 2s

@keyframes article_bg
    0%
        background-color: rgba(157, 156, 157, 0.5)
    70%
        background-color: rgba(157, 156, 157, 0.8)
    100%
        background-color: rgba(157, 156, 157, 0.5)

@keyframes btn_fz
    0%
        letter-spacing: normal
    70%
        letter-spacing: 2px
    100%
        letter-spacing: normal