body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 100px;
  text-align: right;
  font-family: 'Nunito';
  color: #ffc249;
  background-image: url(../pic/floorwall.jpg);
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  body {
    padding: 20px;
  }
}

.btn-danger {
  display: inline-block;
}

#flag {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center 80%;
}

h2 {
  text-align: center;
  vertical-align: top;
  font-size: 72px;
  height: 82px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 40px;
  }
}

figure {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 0 20px 0 0;
  background-size: cover;
  background-position: center center;
}

#level_house:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-animation: house_shake .5s infinite linear;
          animation: house_shake .5s infinite linear;
}

body > p {
  font-size: 30px;
}

.btn-group {
  margin-bottom: 10px;
  z-index: -1;
}

main {
  width: 100%;
  height: calc( 100vh - 200px - 60px  - 8px - 48px);
  background-color: rgba(157, 156, 157, 0.4);
}

@media (max-width: 1024px) {
  main {
    height: 500px;
  }
}

section {
  width: 100%;
  height: 100%;
  text-align: left;
}

section#assets {
  display: block;
  overflow: scroll;
  padding: 60px;
}

@media (max-width: 1024px) {
  section#assets {
    padding: 30px;
  }
}

section#assets h3 {
  font-size: 30px;
}

@media (max-width: 1024px) {
  section#assets h3 {
    font-size: 22px;
  }
}

section#assets p {
  font-size: 40px;
  text-align: right;
  border-bottom: solid 1px black;
}

@media (max-width: 1024px) {
  section#assets p {
    font-size: 30px;
  }
}

section#transfer {
  display: none;
  padding: 100px 300px;
}

@media (max-width: 1024px) {
  section#transfer {
    padding: 20px 50px;
  }
}

section#transfer h3 {
  margin-bottom: 15px;
}

section#transfer .custom-select {
  margin-bottom: 25px;
}

section#transfer .input-group {
  margin-bottom: 30px;
}

section#record {
  display: none;
  overflow: scroll;
  padding: 0 50px;
}

@media (max-width: 1024px) {
  section#record {
    padding: 0 5px;
  }
}

section#record .table {
  margin-top: 30px;
}

section#record thead {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #3e3e3f;
  z-index: 1;
}

section#record tr {
  margin: 0;
}

section#record .more_records {
  color: white;
}

@-webkit-keyframes flag_fadein {
  0% {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: 200%;
    background-position: center 80%;
  }
  99.99% {
    top: 135px;
    left: 100px;
    height: 100vh;
    width: 100%;
    background-size: 10%;
    background-position: top left;
  }
  100% {
    top: 135px;
    left: 100px;
    height: 170px;
    width: 90px;
    margin: 0 10px 0 0;
    background-size: cover;
    background-position: top center;
  }
}

@keyframes flag_fadein {
  0% {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: 200%;
    background-position: center 80%;
  }
  99.99% {
    top: 135px;
    left: 100px;
    height: 100vh;
    width: 100%;
    background-size: 10%;
    background-position: top left;
  }
  100% {
    top: 135px;
    left: 100px;
    height: 170px;
    width: 90px;
    margin: 0 10px 0 0;
    background-size: cover;
    background-position: top center;
  }
}

@-webkit-keyframes house_shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes house_shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes flag_fadein_mb {
  0% {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: 200%;
    background-position: center 80%;
  }
  99.99% {
    top: 115px;
    left: 20px;
    height: 100vh;
    width: 100%;
    background-size: 10%;
    background-position: top left;
  }
  100% {
    top: 115px;
    left: 20px;
    height: 150px;
    width: 80px;
    margin: 0 10px 0 0;
    background-size: cover;
    background-position: top center;
  }
}

@keyframes flag_fadein_mb {
  0% {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: 200%;
    background-position: center 80%;
  }
  99.99% {
    top: 115px;
    left: 20px;
    height: 100vh;
    width: 100%;
    background-size: 10%;
    background-position: top left;
  }
  100% {
    top: 115px;
    left: 20px;
    height: 150px;
    width: 80px;
    margin: 0 10px 0 0;
    background-size: cover;
    background-position: top center;
  }
}
/*# sourceMappingURL=admin.css.map */