body, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito';
}

section {
  height: 100vh;
  padding: 100px;
  font-size: 0;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  background-image: url(../pic/login_wp3.jpg);
  background-size: cover;
  background-position: 60% center;
}

@media (max-width: 990px) {
  section {
    padding: 30px 20px;
  }
}

section article {
  display: inline-block;
  width: 50%;
  padding: 100px 30px;
  font-weight: 600;
}

@media (max-width: 990px) {
  section article {
    display: block;
    padding: 50px 10px 10px;
    width: 100%;
  }
}

section .button-group {
  display: inline-block;
  width: 50%;
  height: 90%;
  vertical-align: top;
  padding: 200px 100px 100px;
}

@media (max-width: 990px) {
  section .button-group {
    display: block;
    width: calc( 100% - 40px);
    height: auto;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
  }
}

article {
  border-radius: 30px;
  background-color: rgba(157, 156, 157, 0.9);
}

article h2 {
  font-size: 50px;
}

@media (max-width: 990px) {
  article h2 {
    font-size: 30px;
  }
}

article p {
  font-size: 22px;
}

@media (max-width: 990px) {
  article p {
    font-size: 18px;
  }
}

#country {
  margin-bottom: 20px;
}

button {
  width: 100%;
  position: relative;
  height: calc( (100% - 20px)/2);
  font-size: 30px;
  font-weight: bold;
  border-radius: 30px;
  background-color: rgba(157, 156, 157, 0.9);
  -webkit-animation-name: article_bg;
          animation-name: article_bg;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  -webkit-animation-name: btn_fz;
          animation-name: btn_fz;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes article_bg {
  0% {
    background-color: rgba(157, 156, 157, 0.5);
  }
  70% {
    background-color: rgba(157, 156, 157, 0.8);
  }
  100% {
    background-color: rgba(157, 156, 157, 0.5);
  }
}

@keyframes article_bg {
  0% {
    background-color: rgba(157, 156, 157, 0.5);
  }
  70% {
    background-color: rgba(157, 156, 157, 0.8);
  }
  100% {
    background-color: rgba(157, 156, 157, 0.5);
  }
}

@-webkit-keyframes btn_fz {
  0% {
    letter-spacing: normal;
  }
  70% {
    letter-spacing: 2px;
  }
  100% {
    letter-spacing: normal;
  }
}

@keyframes btn_fz {
  0% {
    letter-spacing: normal;
  }
  70% {
    letter-spacing: 2px;
  }
  100% {
    letter-spacing: normal;
  }
}
/*# sourceMappingURL=Odyssey.css.map */