body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito';
  font-size: 0;
  height: 100vh;
  padding: 100px calc( (100% - 400px)/2);
  background-image: url(../pic/login_wp1.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  body {
    padding: 50px 30px;
  }
}

.bt-sign-up, .bt-sign-in {
  float: right;
  width: 80px;
  padding: 1px 0;
}

.sign-up {
  display: none;
}

.card {
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(249, 254, 255, 0.3);
}

@media (max-width: 1024px) {
  .card {
    width: 255px;
  }
}

.card h5 {
  font-size: 40px;
  margin: 40px auto;
  padding: 5px 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-image: url(../pic/parthenon.png);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.card #basic-addon1, .card #basic-addon2, .card #basic-addon3 {
  width: 40px;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.card #basic-addon1 {
  background-image: url(../pic/user.png);
}

.card #basic-addon2 {
  background-image: url(../pic/key.png);
}

.card #basic-addon3 {
  background-image: url(../pic/id-card.png);
}

.card button {
  background-color: #7a7265;
  border-color: #c6ad94;
  color: white;
  font-weight: 600;
  width: 100px;
  border-radius: 20px;
  border: solid 1px;
}

.card button:hover {
  background-color: #c6ad94;
  border-radius: #7a7265;
}

.card .btn-primary {
  margin-bottom: 40px;
}

.card .login {
  text-align: center;
}

figure {
  display: inline-block;
  height: 0;
  width: 25%;
  margin: 0;
  background-size: 60px auto;
  background-position: top center;
  background-repeat: no-repeat;
}

#flag1 {
  background-image: url(../pic/flag-sparta.png);
  -webkit-animation: flag_fade 1s .5s ease-in forwards;
          animation: flag_fade 1s .5s ease-in forwards;
}

#flag2 {
  background-image: url(../pic/flag-arkadia.png);
  -webkit-animation: flag_fade 1s 1s ease-in forwards;
          animation: flag_fade 1s 1s ease-in forwards;
}

#flag3 {
  background-image: url(../pic/flag-athens.png);
  -webkit-animation: flag_fade 1s 1.5s ease-in forwards;
          animation: flag_fade 1s 1.5s ease-in forwards;
}

#flag4 {
  background-image: url(../pic/flag-phokis.png);
  -webkit-animation: flag_fade 1s 2s ease-in forwards;
          animation: flag_fade 1s 2s ease-in forwards;
}

@-webkit-keyframes flag_fade {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}

@keyframes flag_fade {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}
/*# sourceMappingURL=plebeian_login.css.map */